.col-block{
  padding: 0 0 0 10px;
  color: white;
  flex: 1 1 auto;
}

img{
  flex: 0 1 auto;
}

h1 {
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 0;
}

.nav{
  background: #0091EA;
  margin-bottom: 5px;
  flex: 0 0 auto;
}

nav{
  display: flex;
  flex-flow: row nowrap;
}

nav a {
  padding: 7px 15px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5 !important;
  background: #424242;
}

@media (max-width: 600px){
  nav{
    padding: 15px 0 !important;
  }

  h1{
    font-size: 1.3em;
  }

  nav a{
    padding: 5px 10px !important;
    font-size: small !important;
  }
}

@media (max-width: 400px){
  img {
    height: 80px;
    width: 80px;
  }
}