.player{
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
}
.hero_detail{
  background-color: #0091EA;
  padding: 15px;
  display: block;
  color: white;
  flex: 0 1 auto;
}
h1{
  color: white;
}
img{
  display: inline-block;
  flex: 0 1 content;
}
label {
  display: inline-block;
  color: #000000;
  width: 3em;
  margin: .5em 0;
  font-weight: bold;
  
}
input {
  height: 2em;
  width: 180px;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #262626;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}